---
interface Props {
	title: string;
	tags: string[];
	href: string;
	src: string;
}

const { href, title, tags, src } = Astro.props;
---

<li class="py-3">
	<a href={href}>
		<div class=`card flex flex-col justify-end p-2 rounded-lg w-full aspect-square`>
		</div>
		<h2 class="pt-2 text-4xl font-bold uppercase">
			{title}
		</h2>
		<div class="font-light">
			{
				tags.map((tag) => (
					<span>{tag} </span>
				))
			}
		</div>
	</a>
</li>
<style>
	.card {
		background-image: url("../assets/M83-JUNK-01.jpg");
		background-size: cover;
		background-repeat: no-repeat;
	}
</style>