---
---
<div class="flex flex-col">
    <a class="link" href="" target="_blank">
        <span class="link">+33 6.55.66.66 </span>
    </a>
    <a href="" target="_blank"> 
        <span class="link">contact@contact.com </span>
    </a>
</div>
<style>
    .link {
        position: relative;
    }
    .link::after {
        content: url("../assets/arrow.svg");
        position: absolute;
    }
</style>