---
import Social from "./Social.astro";
import Contact from "./Contact.astro";
---

<div class="flex justify-between p-3 max-w-md lg:absolute lg:left-0 lg:bottom-0">
    <Social />
    <Contact />
</div>